In [1]:
# First connect to Gmail client and read messages
from tarxiv.alerts import Gmail

txv_gmail = Gmail("../aux/")

2025-05-21 18:12:10,062 - tarxiv-gmail - INFO - {'status': 'initializing', 'module': 'tarxiv-gmail'}
2025-05-21 18:12:10,063 - tarxiv-gmail - INFO - {'status': 'connecting'}
2025-05-21 18:12:10,180 - tarxiv-gmail - INFO - {'status': 'connected'}

In [2]:
# Start the monitoring tread and poll a message
txv_gmail.monitor_notices()
message, alerts = txv_gmail.poll(timeout=5)
alerts

['2025kze']

Exception in thread Thread-5 (_monitoring_thread):
Traceback (most recent call last):
  File "/usr/lib/python3.12/threading.py", line 1073, in _bootstrap_inner
    self.run()
  File "/home/wintergreen/repo/venv/lib/python3.12/site-packages/ipykernel/ipkernel.py", line 766, in run_closure
    _threading_Thread_run(self)
  File "/usr/lib/python3.12/threading.py", line 1010, in run
    self._target(*self._args, **self._kwargs)
  File "/home/wintergreen/repo/venv/lib/python3.12/site-packages/tarxiv/alerts.py", line 129, in _monitoring_thread
    alerts = self.parse_message(message, service)
             ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/wintergreen/repo/venv/lib/python3.12/site-packages/tarxiv/alerts.py", line 78, in parse_message
    msg = service.users().messages().get(userId="me", id=message["id"]).execute()
          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/wintergreen/repo/venv/lib/python3.12/site-packages/googleapiclient/_helpers.py", line 130, in positional_wrapper
    return wrapped(*args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/wintergreen/repo/venv/lib/python3.12/site-packages/googleapiclient/http.py", line 923, in execute
    resp, content = _retry_request(
                    ^^^^^^^^^^^^^^^
  File "/home/wintergreen/repo/venv/lib/python3.12/site-packages/googleapiclient/http.py", line 222, in _retry_request
    raise exception
  File "/home/wintergreen/repo/venv/lib/python3.12/site-packages/googleapiclient/http.py", line 191, in _retry_request
    resp, content = http.request(uri, method, *args, **kwargs)
                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/wintergreen/repo/venv/lib/python3.12/site-packages/google_auth_httplib2.py", line 218, in request
    response, content = self.http.request(
                        ^^^^^^^^^^^^^^^^^^
  File "/home/wintergreen/repo/venv/lib/python3.12/site-packages/httplib2/__init__.py", line 1724, in request
    (response, content) = self._request(
                          ^^^^^^^^^^^^^^
  File "/home/wintergreen/repo/venv/lib/python3.12/site-packages/httplib2/__init__.py", line 1444, in _request
    (response, content) = self._conn_request(conn, request_uri, method, body, headers)
                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/home/wintergreen/repo/venv/lib/python3.12/site-packages/httplib2/__init__.py", line 1396, in _conn_request
    response = conn.getresponse()
               ^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/http/client.py", line 1428, in getresponse
    response.begin()
  File "/usr/lib/python3.12/http/client.py", line 331, in begin
    version, status, reason = self._read_status()
                              ^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/http/client.py", line 292, in _read_status
    line = str(self.fp.readline(_MAXLINE + 1), "iso-8859-1")
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/socket.py", line 707, in readinto
    return self._sock.recv_into(b)
           ^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/ssl.py", line 1252, in recv_into
    return self.read(nbytes, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^
  File "/usr/lib/python3.12/ssl.py", line 1104, in read
    return self._sslobj.read(len, buffer)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
TimeoutError: The read operation timed out

In [3]:
# Get information from lightcurve surveys
from tarxiv.data_sources import TNS, ATLAS, ASAS_SN, ZTF

# First query TNS
txv_tns = TNS("../aux")
tns_meta, _ = txv_tns.get_object(alerts[0])
tns_meta

2025-05-21 18:12:12,514 - tns - INFO - {'status': 'initializing', 'module': 'tns'}

{'identifiers': {'name': '2025kze', 'source': 0},
 'ra_deg': {'value': 278.4350830422379, 'source': 0},
 'dec_deg': {'value': 17.589638999205324, 'source': 0},
 'ra_hms': {'value': '18:33:44.420', 'source': 0},
 'dec_dms': {'value': '+17:35:22.70', 'source': 0},
 'object_type': [{'value': 'AT', 'source': 0}, {'value': None, 'source': 0}],
 'discovery_date': {'value': '2025-05-22 00:13:02.784', 'source': 0},
 'reporting_group': {'value': 'LAST', 'source': 0},
 'discovery_data_source': {'value': 'LAST', 'source': 0}}

In [4]:
# Now ATLAS
txv_atlas = ATLAS("../aux")
atlas_meta, atlas_lc = txv_atlas.get_object(tns_meta["ra_deg"]["value"], tns_meta["dec_deg"]["value"])
atlas_meta, atlas_lc

2025-05-21 18:12:18,132 - atlas - INFO - {'status': 'initializing', 'module': 'atlas'}

({'identifiers': [{'name': 1183344321173526600, 'source': 1}]},
             mjd     mag  mag_err  limit filter unit survey
 0  60425.564899 -18.301    0.081  18.69      o  02a  ATLAS
 1  60474.443461 -17.924    0.037  19.44      o  02a  ATLAS
 2  60474.445271 -17.876    0.039  19.42      o  02a  ATLAS
 3  60774.562192 -18.387    0.075  18.93      o  02a  ATLAS
 4  60774.565383 -18.379    0.070  18.85      o  02a  ATLAS)

In [5]:
# Usually the surveys wont have imediate data for new sources, so lets try an old one
obj_name = "2024iss"

tns_meta, _ = txv_tns.get_object(obj_name)
atlas_meta, atlas_lc = txv_atlas.get_object(tns_meta["ra_deg"]["value"], tns_meta["dec_deg"]["value"])
atlas_meta, atlas_lc

({'identifiers': [{'name': 1125906141284842600, 'source': 1},
   {'name': 'ATLAS24hhy', 'source': 2}],
  'redshift': {'value': 0.0032657735, 'source': 7}},
                mjd     mag  mag_err  limit filter unit survey
 0     60445.386132  13.442    0.003  19.35      o  02a  ATLAS
 1     60445.386132  13.396    0.005  19.35      o  02a  ATLAS
 2     60445.389294  13.438    0.003  19.39      o  02a  ATLAS
 3     60445.389294  13.394    0.005  19.39      o  02a  ATLAS
 4     60445.396294  13.394    0.005  19.33      o  02a  ATLAS
 ...            ...     ...      ...    ...    ...  ...    ...
 1584  60791.436982  19.433    0.196  19.53      c  01a  ATLAS
 1585  60792.414882  19.438    0.193  19.56      c  01a  ATLAS
 1586  60793.408979  19.249    0.170  19.52      o  02a  ATLAS
 1587  60798.385497  19.229    0.190  19.34      o  02a  ATLAS
 1588  60799.331820  19.228    0.191  19.43      o  01a  ATLAS

 [1589 rows x 7 columns])

In [6]:
# Now try ZTF
txv_ztf = ZTF("../aux/")
ztf_meta, ztf_lc = txv_ztf.get_object(tns_meta["ra_deg"]["value"], tns_meta["dec_deg"]["value"])
ztf_meta, ztf_lc

2025-05-21 18:12:47,265 - ztf - INFO - {'status': 'initializing', 'module': 'ztf'}

({'identifiers': [{'name': 'ZTF24aankvcy', 'source': 3}],
  'host_name': [{'name': 'PGC1846725', 'source': 8}]},
           mag   mag_err filter      limit           mjd  unit survey
 0   18.897097  0.145049      R  19.549927  60744.423125  main    ZTF
 1   19.451320  0.138804      g  20.457413  60727.413310  main    ZTF
 2   19.464533  0.151103      g  20.038042  60725.383079  main    ZTF
 3   18.210833  0.179195      R  18.493570  60710.433021  main    ZTF
 4   18.801170  0.145244      g  19.480152  60691.477963  main    ZTF
 5   18.898743  0.172329      g  19.402090  60687.495637  main    ZTF
 6   18.774036  0.120490      g  20.031698  60684.473877  main    ZTF
 7   18.769524  0.093810      g  20.107847  60682.404248  main    ZTF
 8   18.717860  0.124860      g  19.510712  60678.509514  main    ZTF
 9   18.593317  0.080440      g  20.498440  60676.472431  main    ZTF
 10  18.609062  0.069879      g  20.703398  60674.540509  main    ZTF
 11  18.492628  0.106843      g  19.769285  60664.466331  main    ZTF
 12  18.209372  0.064977      g  20.035765  60652.485370  main    ZTF
 13  18.206957  0.064740      g  20.345774  60650.543611  main    ZTF
 14  18.034790  0.070588      g  20.030571  60640.517766  main    ZTF
 15  17.977156  0.059116      g  19.802692  60637.487257  main    ZTF
 16  17.877325  0.075021      g  19.349758  60634.487269  main    ZTF
 17  17.005772  0.047299      R  19.107323  60613.537060  main    ZTF
 18  16.972889  0.049412      R  19.262629  60613.531111  main    ZTF
 19  15.562697  0.025970      g  20.468178  60494.195602  main    ZTF
 20  15.366330  0.033453      g  20.541569  60486.216713  main    ZTF
 21  15.320426  0.024425      g  19.537622  60484.260498  main    ZTF
 22  15.265226  0.031553      g  19.897590  60482.196042  main    ZTF
 23  14.167648  0.022556      R  18.972857  60480.330613  main    ZTF
 24  15.134685  0.027240      g  19.912357  60480.204294  main    ZTF
 25  14.943040  0.019399      g  19.814909  60477.211898  main    ZTF
 26  14.756750  0.018296      g  19.818043  60475.208808  main    ZTF
 27  14.591572  0.025147      g  20.285032  60473.195764  main    ZTF)

In [7]:
# Now try ASAS-SN (will need to update asas-sn transient pipeline, low hits currently)
txv_asas_sn = ASAS_SN("../aux/")
asas_sn_meta, asas_sn_lc = txv_asas_sn.get_object(tns_meta["ra_deg"]["value"], tns_meta["dec_deg"]["value"])
asas_sn_meta, asas_sn_lc

2025-05-21 18:12:50,886 - asas-sn - INFO - {'status': 'initializing', 'module': 'asas-sn'}

({'identifiers': [{'name': '661432306681', 'source': 6}]},
                mjd        mag   mag_err      limit filter unit   survey
 0     55954.627881  17.142907  0.064420  18.463458      V   ba  ASAS-SN
 2     55973.573170  17.350041  0.081465  18.415723      V   ba  ASAS-SN
 4     55997.503673  17.072510  0.171802  17.328043      V   ba  ASAS-SN
 5     56002.484148  17.014979  0.076740  18.145526      V   ba  ASAS-SN
 7     56310.663657  17.864528  0.187629  18.024385      V   ba  ASAS-SN
 ...            ...        ...       ...        ...    ...  ...      ...
 1269  60652.662725  17.146767  0.182440  17.337075      g   bC  ASAS-SN
 1270  60672.569723  16.952787  0.060671  18.338434      g   bC  ASAS-SN
 1272  60697.541289  17.015819  0.076828  18.145123      g   bC  ASAS-SN
 1273  60700.068149  17.048765  0.099793  17.894120      g   bo  ASAS-SN
 1274  60708.496762  17.482445  0.092797  18.406711      g   bs  ASAS-SN

 [895 rows x 7 columns])

In [8]:
# Now we want to push this to the database
from tarxiv.database import TarxivDB
txv_db = TarxivDB("../aux/")

# First get the insertion scheme
schema = txv_db.get_object_schema()
schema

2025-05-21 18:13:00,240 - tarxiv-couchbase - INFO - {'status': 'initializing', 'module': 'tarxiv-couchbase'}
2025-05-21 18:13:00,241 - tarxiv-couchbase - INFO - connecting to couchbase
2025-05-21 18:13:00,285 - tarxiv-couchbase - INFO - connected

{'schema': 'https://github.com/astrocatalogs/schema/README.md',
 'sources': [],
 'identifiers': [],
 'ra_deg': [],
 'dec_deg': [],
 'ra_hms': [],
 'dec_dms': [],
 'object_type': [],
 'discovery_date': [],
 'reporting_group': [],
 'discovery_data_source': [],
 'redshift': [],
 'host_name': [],
 'peak_mag': []}

In [9]:
# Now we populate this schema with our survey information
obj_meta = txv_tns.update_object_meta(schema, tns_meta)
obj_meta = txv_atlas.update_object_meta(obj_meta, atlas_meta)
obj_meta = txv_ztf.update_object_meta(obj_meta, ztf_meta)
obj_meta = txv_asas_sn.update_object_meta(obj_meta, asas_sn_meta)

# Colate lightcurves and add peak mag measurements to schema
import pandas as pd
lc_df = pd.concat([atlas_lc, ztf_lc, asas_sn_lc])

# Add peak magnitudes to meta
obj_meta = txv_tns.meta_add_peak_mags(obj_meta, lc_df)
obj_meta

{'schema': 'https://github.com/astrocatalogs/schema/README.md',
 'sources': [{'name': 'tns',
   'bibcode': '2021AAS...23742305G',
   'reference': 'Gal-Yam et al. 2021',
   'alias': 0},
  {'name': 'atlas_twb',
   'bibcode': '2020PASP..132h5002S',
   'reference': 'Smith et al. 2020',
   'alias': 1},
  {'name': 'atlas_survey',
   'bibcode': '2018PASP..130f4505T',
   'reference': 'Tonry et al. 2018',
   'alias': 2},
  {'name': 'sherlock',
   'bibcode': '10.5281/zenodo.8038057',
   'reference': 'Young et al. 2023',
   'alias': 7},
  {'name': 'ztf_survey',
   'bibcode': '2019PASP..131a8002B',
   'reference': 'Belim et al. 2019',
   'alias': 3},
  {'name': 'fink',
   'bibcode': '2021MNRAS.501.3272M',
   'reference': 'Möller et al. 2020',
   'alias': 4},
  {'name': 'mangrove',
   'bibcode': '2020MNRAS.492.4768D',
   'reference': 'Ducoin et al. 2020',
   'alias': 8},
  {'name': 'asas-sn_survey',
   'bibcode': '2014ApJ...788...48S',
   'reference': 'Shappee et al. 2014',
   'alias': 5},
  {'name': 'asas-sn_skypatrol',
   'bibcode': '2023arXiv230403791H',
   'reference': 'Hart et al. 2023',
   'alias': 6}],
 'identifiers': [{'name': '2024iss', 'source': 0},
  {'name': 1125906141284842600, 'source': 1},
  {'name': 'ATLAS24hhy', 'source': 2},
  {'name': 'ZTF24aankvcy', 'source': 3},
  {'name': '661432306681', 'source': 6}],
 'ra_deg': [{'value': 194.775542, 'source': 0}],
 'dec_deg': [{'value': 28.811839, 'source': 0}],
 'ra_hms': [{'value': '12:59:06.130', 'source': 0}],
 'dec_dms': [{'value': '+28:48:42.62', 'source': 0}],
 'object_type': [{'value': 'SN', 'source': 0},
  {'value': 'SN IIb', 'source': 0}],
 'discovery_date': [{'value': '2024-05-12 21:36:45.792', 'source': 0}],
 'reporting_group': [{'value': 'GOTO', 'source': 0}],
 'discovery_data_source': [{'value': 'GOTO', 'source': 0}],
 'redshift': [{'value': 0.003334, 'source': 0},
  {'value': 0.0032657735, 'source': 7}],
 'host_name': [{'name': 'PGC1846725', 'source': 8}],
 'peak_mag': [{'filter': 'R',
   'value': 14.167648,
   'mjd_recorded': 60480.330613399856,
   'source': 3},
  {'filter': 'V',
   'value': 16.08164818723351,
   'mjd_recorded': 55954.627881099936,
   'source': 5},
  {'filter': 'c',
   'value': 17.415,
   'mjd_recorded': 60641.63244975,
   'source': 2},
  {'filter': 'g',
   'value': 13.506078757685941,
   'mjd_recorded': 58099.44114479981,
   'source': 5},
  {'filter': 'o',
   'value': 13.058,
   'mjd_recorded': 60445.38613205,
   'source': 2}]}

In [10]:
# Convert to json for submission
obj_lc = lc_df.to_dict(orient="records")
obj_lc[:5]

[{'mjd': 60445.38613205,
  'mag': 13.442,
  'mag_err': 0.003,
  'limit': 19.35,
  'filter': 'o',
  'unit': '02a',
  'survey': 'ATLAS'},
 {'mjd': 60445.38613205,
  'mag': 13.396,
  'mag_err': 0.005,
  'limit': 19.35,
  'filter': 'o',
  'unit': '02a',
  'survey': 'ATLAS'},
 {'mjd': 60445.38929445,
  'mag': 13.438,
  'mag_err': 0.003,
  'limit': 19.39,
  'filter': 'o',
  'unit': '02a',
  'survey': 'ATLAS'},
 {'mjd': 60445.38929445,
  'mag': 13.394,
  'mag_err': 0.005,
  'limit': 19.39,
  'filter': 'o',
  'unit': '02a',
  'survey': 'ATLAS'},
 {'mjd': 60445.39629385,
  'mag': 13.394,
  'mag_err': 0.005,
  'limit': 19.33,
  'filter': 'o',
  'unit': '02a',
  'survey': 'ATLAS'}]

In [11]:
# Push to database
txv_db.upsert("2024iss", obj_meta, "tns_objects")
txv_db.upsert("2024iss", obj_lc, "tns_lightcurves")

# Rertrieve both
res = txv_db.get("2024iss", "tns_lightcurves")
res[-5:]

[{'mjd': 60652.662725199945,
  'mag': 17.14676732419121,
  'mag_err': 0.18243957969633454,
  'limit': 17.33707508737741,
  'filter': 'g',
  'unit': 'bC',
  'survey': 'ASAS-SN'},
 {'mjd': 60672.56972299982,
  'mag': 16.952787419187427,
  'mag_err': 0.06067130961284383,
  'limit': 18.338434416349553,
  'filter': 'g',
  'unit': 'bC',
  'survey': 'ASAS-SN'},
 {'mjd': 60697.54128880007,
  'mag': 17.01581859686997,
  'mag_err': 0.07682814843845448,
  'limit': 18.14512310066781,
  'filter': 'g',
  'unit': 'bC',
  'survey': 'ASAS-SN'},
 {'mjd': 60700.06814889982,
  'mag': 17.048765240426548,
  'mag_err': 0.09979303561155477,
  'limit': 17.894120077067562,
  'filter': 'g',
  'unit': 'bo',
  'survey': 'ASAS-SN'},
 {'mjd': 60708.49676229991,
  'mag': 17.482445066947744,
  'mag_err': 0.09279739833409015,
  'limit': 18.40671098644738,
  'filter': 'g',
  'unit': 'bs',
  'survey': 'ASAS-SN'}]

In [12]:
# Test filter peak mags
lc_df = pd.DataFrame(res)
lc_df

               mjd        mag   mag_err      limit filter unit   survey
0     60445.386132  13.442000  0.003000  19.350000      o  02a    ATLAS
1     60445.386132  13.396000  0.005000  19.350000      o  02a    ATLAS
2     60445.389294  13.438000  0.003000  19.390000      o  02a    ATLAS
3     60445.389294  13.394000  0.005000  19.390000      o  02a    ATLAS
4     60445.396294  13.394000  0.005000  19.330000      o  02a    ATLAS
...            ...        ...       ...        ...    ...  ...      ...
2507  60652.662725  17.146767  0.182440  17.337075      g   bC  ASAS-SN
2508  60672.569723  16.952787  0.060671  18.338434      g   bC  ASAS-SN
2509  60697.541289  17.015819  0.076828  18.145123      g   bC  ASAS-SN
2510  60700.068149  17.048765  0.099793  17.894120      g   bo  ASAS-SN
2511  60708.496762  17.482445  0.092797  18.406711      g   bs  ASAS-SN

[2512 rows x 7 columns]

In [13]:
bulk_df = txv_tns.download_bulk_tns()
bulk_df

2025-05-21 19:08:02,589 - tns - INFO - pulling bulk tns objects

,objid,name_prefix,name,ra,declination,redshift,typeid,type,reporting_groupid,reporting_group,...,discoverymag,discmagfilter,filter,reporters,time_received,internal_names,Discovery_ADS_bibcode,Class_ADS_bibcodes,creationdate,lastmodified
0,179796,AT,2025kyz,257.638375,7.688944,NaN,NaN,NaN,10.0,XOSS,...,15.34,1.0,Clear,"Jianlin Xu, Mi Zhang, Guoyou Sun, Jiangao Ruan...",2025-05-21 23:53:43,KATS25K004,NaN,NaN,2025-05-21 23:53:43,2025-05-21 23:53:43
1,179795,AT,2025kyy,340.699833,51.503833,NaN,NaN,NaN,10.0,XOSS,...,19.03,1.0,Clear,"Jianlin Xu, Mi Zhang, Guoyou Sun, Jiangao Ruan...",2025-05-21 23:44:34,KATS25K003,NaN,NaN,2025-05-21 23:44:35,2025-05-21 23:44:35
2,179794,AT,2025kyx,284.602250,84.733528,NaN,NaN,NaN,10.0,XOSS,...,19.14,1.0,Clear,"Mi Zhang, Jianlin Xu, Guoyou Sun, Jiangao Ruan...",2025-05-21 23:33:13,KATS25K002,NaN,NaN,2025-05-21 23:33:14,2025-05-21 23:33:14
3,179793,AT,2025kyw,283.630125,32.873028,NaN,NaN,NaN,10.0,XOSS,...,17.52,1.0,Clear,"Jianlin Xu, Mi Zhang, Guoyou Sun, Jiangao Ruan...",2025-05-21 23:28:29,KATS25K001,NaN,NaN,2025-05-21 23:28:30,2025-05-21 23:28:30
4,179792,AT,2025kyv,148.862042,69.056639,NaN,NaN,NaN,10.0,XOSS,...,18.87,1.0,Clear,"Ziyang Mai, Jianlin Xu, Mi Zhang, Xing Gao (Xi...",2025-05-21 22:52:46,PAT17X2502,NaN,NaN,2025-05-21 22:52:46,2025-05-21 22:52:46
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164364,6336,SN,2013hj,138.026210,-15.429440,NaN,10.0,SN II,NaN,NaN,...,14.00,NaN,NaN,"Antezana, Pignata et al.",2021-02-20 10:34:14,NaN,2021TNSTR.535....1A,NaN,2015-12-31 10:59:55,2015-12-31 10:59:55
164365,6309,SN,2013gj,40.291670,-21.024780,NaN,10.0,SN II,NaN,NaN,...,17.50,NaN,NaN,A.J. Drake et al.,2021-02-17 11:24:00,NaN,2021TNSTR.496....1A,NaN,2015-12-31 10:59:55,2015-12-31 10:59:55
164366,6201,SN,2013cj,256.220630,12.919560,NaN,13.0,SN IIn,NaN,NaN,...,18.10,NaN,NaN,"Jin, Z.; Gao, X.; Xingming Sky Survey",2021-03-04 11:18:11,NaN,2021TNSTR.670....1J,NaN,2015-12-31 10:59:55,2015-12-31 10:59:55
164367,6196,SN,2013ce,173.961670,34.284080,NaN,11.0,SN IIP,NaN,NaN,...,17.30,NaN,NaN,iPTF,2017-09-08 16:23:17,iPTF13ce,2019TNSTR1778....1I,NaN,2015-12-31 10:59:55,2015-12-31 10:59:55
164368,6158,SN,2013at,282.547040,30.349860,NaN,11.0,SN IIP,NaN,NaN,...,16.90,NaN,NaN,S. Shurpakov,2021-03-11 10:43:52,NaN,2021TNSTR.748....1S,NaN,2015-12-31 10:59:55,2015-12-31 10:59:55

In [14]:
bulk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164369 entries, 0 to 164368
Data columns (total 23 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   objid                  164369 non-null  int64
 1   name_prefix            164369 non-null  object
 2   name                   164369 non-null  object
 3   ra                     164369 non-null  float64
 4   declination            164369 non-null  float64
 5   redshift               17582 non-null   float64
 6   typeid                 19049 non-null   float64
 7   type                   19049 non-null   object
 8   reporting_groupid      164355 non-null  float64
 9   reporting_group        163263 non-null  object
 10  source_groupid         164360 non-null  float64
 11  source_group           163345 non-null  object
 12  discoverydate          164369 non-null  object
 13  discoverymag           163548 non-null  float64
 14  discmagfilter          163522 non-null  float64
 15  filter                 163522 non-null  object
 16  reporters              164369 non-null  object
 17  time_received          164369 non-null  object
 18  internal_names         162162 non-null  object
 19  Discovery_ADS_bibcode  164197 non-null  object
 20  Class_ADS_bibcodes     18164 non-null   object
 21  creationdate           164369 non-null  object
 22  lastmodified           164369 non-null  object
dtypes: float64(8), int64(1), object(14)
memory usage: 28.8+ MB

In [16]:
bulk_df.groupby("discmagfilter").count()

,objid,name_prefix,name,ra,declination,redshift,typeid,type,reporting_groupid,reporting_group,...,discoverydate,discoverymag,filter,reporters,time_received,internal_names,Discovery_ADS_bibcode,Class_ADS_bibcodes,creationdate,lastmodified
discmagfilter,,,,,,,,,,,,,,,,,,,,,
0.0,720,720,720,720,720,20,116,116,720,670,...,720,720,720,720,720,653,716,23,720,720
1.0,3632,3632,3632,3632,3632,550,680,680,3630,3315,...,3632,3632,3632,3632,3632,3130,3620,637,3632,3632
10.0,2,2,2,2,2,1,1,1,2,2,...,2,2,2,2,2,1,2,1,2,2
11.0,61,61,61,61,61,1,3,3,61,52,...,61,61,61,61,61,9,61,3,61,61
12.0,423,423,423,423,423,263,312,312,423,410,...,423,423,423,423,423,411,423,318,423,423
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127.0,25,25,25,25,25,0,25,25,25,25,...,25,25,25,25,25,25,25,0,25,25
129.0,14,14,14,14,14,0,14,14,14,13,...,14,14,14,14,14,14,14,0,14,14
151.0,1,1,1,1,1,0,0,0,1,1,...,1,1,1,1,1,1,1,0,1,1
152.0,1423,1423,1423,1423,1423,3,3,3,1423,1423,...,1423,1423,1423,1423,1423,1423,1423,3,1423,1423
153.0,280,280,280,280,280,0,0,0,280,280,...,280,280,280,280,280,280,280,0,280,280